In [ ]:
# pip install mysql-connector-python
!pip install mysql
!pip install SQLAlchemy

In [ ]:
# Importing necessary libraries for data analysis
import mysql.connector
import pymysql
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# Importing the data from mysql database
username = "root"
password = "qwerasdf#A1"
host = "localhost"
port = 3306
database = "banking"

# Create the connection string
connection_string = f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}"
engine = create_engine(connection_string)

# Test with a simple query
query = "SELECT * from banking.customer"
df = pd.read_sql(query, engine)

engine.dispose()

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.describe()

## Checking for null values

In [ ]:
df.isnull().sum()

## Duplicates

In [ ]:
# Check for duplicate rows in the dataset
df.duplicated().sum()
df=df.drop_duplicates()

In [ ]:
sns.histplot(x=df['Age'],bins=20)
sns.boxplot(x=df['Estimated_Income'])

In [ ]:
labels = ['Low','Medium','High']
inc = pd.cut(df['Estimated_Income'], bins =3,labels = labels)
inc_bins = inc.value_counts()

In [ ]:
inc_bins.plot(kind= 'bar')

## Examine the categorical Columns

In [ ]:
categorical_columns = ['Nationality','Loyalty_Classification', 'Amount_of_Credit_Cards','Risk_Weighting', 'BRId', 'GenderId', 'IAId']

In [ ]:
# Data visualization
for i, column in enumerate(df[categorical_columns]):
    plt.figure(i,figsize =(7,3))
    ax =sns.countplot(data = df,x=column)
    ax.bar_label(ax.containers[0], padding=0,label_type ='center')

In [ ]:
numerical_columns =['Estimated_Income', 'Superannuation_Savings','Credit_Card_Balance', 'Bank_Loans',
       'Bank_Deposits', 'Checking_Accounts', 'Saving_Accounts',
       'Foreign_Currency_Account', 'Business_Lending','Properties_Owned']

## Single variable Analysis

In [ ]:
# Data visualization
plt.figure(figsize=(20,20))
for i, p in enumerate(numerical_columns):
    
    plt.subplot(4,3,i+1)
    sns.histplot(data=df,x=p, bins=30,kde = True)

## Bivarient Anlaysis

In [ ]:
plt.figure(figsize =(20,20))
for i, column in enumerate(df[categorical_columns]):
    plt.subplot(4,2,i+1)
    sns.countplot(data = df,x=column,hue = 'Nationality')

## Corelation

In [ ]:
corelation_matrix = df[numerical_columns].corr()
plt.figure(figsize=(8,8))
sns.heatmap(corelation_matrix,annot= True, cmap ='crest')
plt.title(label ='Relationship Between Numerical Variables')
plt.show()